node_modules/
.DS_Store
*.log
web/dist/
web/node_modules/
server/node_modules/

# Android
.gradle/
build/
app/build/
web/android/.gradle/
web/android/build/
web/android/app/build/
*.apk
*.aar
.idea/
*.iml

